<!DOCTYPE html>
<html>
  <head>
    <title>Live Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Live Chat!</h1>
    <name></name>
    <section id="userText"></section>

    <textarea id="textBox" cols="30" rows="10"></textarea>
    <button type="button">Send</button>
    <footer><ul id="whosOnline"></ul></footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
